* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f5f5f5;
}

.header {
  background: #e3350d;
  color: white;
  text-align: center;
  padding: 16px;
}

.container {
  padding: 16px;
}

.camera-box {
  height: 300px;
  background: #ddd;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.result-box {
  background: white;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
}
